<html>
<head>
    {#  Step 3.1 Create login page  #}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>
<body>
{# step 3.2 GOOGLE PLUS SIGN IN BUTTON #}
<div id="signinButton">
    <span class="g-signin"
          data-scope="openid email"
          data-clientid="86193392223-8c37ms12u8tq5nec6un202g5r3rl3ins.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
    </span>
</div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

{# Step 4 Make a Callback Method #}
<div id="result"></div>

<script>
    function signInCallback(authResult) {
        if (authResult['code']){
            // Hide the sign-in button now that the user is authorized
            $('#signinButton').attr('style','display: none');

            // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function (result) {
                    if (result){
                        $('#result').html('Login Successful</br>'+result+'</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href="/restaurant";
                        },4000);
                    }else if (authResult['error']){
                        console.log('This was an error: '+authResult['error']);
                    }else {
                        $('#result').html('Failed to make a server-side call. check your configuration and console');
                    }
                }

            });
        }
    }
</script>
<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '404950796632936',
            cookie: true, //enable cookies to allow the server to access the session
            xfbml: true, //parse social plugin on this page
            version: 'v2.2' ///use version 2.2
        });

    };

    // Load the Facebook SDK asynchronously
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    // Here we run a very simple test of the Graph API after login is
    // successful.  See statusChangeCallback() for when this call is made.
    function sendTokenToServer() {
        var access_token = FB.getAuthResponse()['accessToken'];
        console.log('Welcome! Fetching your access token...');
        console.log(access_token);
        FB.api('/me', function (response) {
            console.log('Successful login for: ' + response.name);

            $.ajax({
                type: 'POST',
                url: '/fbconnect?state={{STATE}}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    if (result) {
                        $('#result').html('Login Successful</br>' + result + '</br>Redirecting...')
                        setTimeout(function () {
                            window.location.href = "/restaurant";
                        }, 4000);
                    } else {
                        $('#result').html('Failed to make a server-side call. check your configuration and console');
                    }
                }
            })
        })
    }
</script>


<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
    <a href="javascript:sendTokenToServer()">Login with Facebook</a>
</fb:login-button>

</body>
</html>