<html>
<head>
    {#  Step 3.1 Create login page  #}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>
<body>
{# step 3.2 GOOGLE PLUS SIGN IN BUTTON #}
<div id="signinButton">
    <span class="g-signin"
          data-scope="openid email"
          data-clientid="86193392223-8c37ms12u8tq5nec6un202g5r3rl3ins.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
    </span>
</div>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

</body>
</html>